.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  padding-bottom: 4rem;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.title {
  margin-bottom: 24px;
  font-size: 40px;
}

.grid {
  display: grid;
  gap: 12px;
}

.link {
  position: absolute;
  bottom: 20px;
}

/* Tablet and Smaller Desktop */
@media only screen and (min-width: 768px) {
  .main {
    padding: 6rem;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}
